package: sa-u
Version: 1.5-1
Section: utils
Priority: optional
Depends: dash (>= 0.5.1), coreutils (>= 8.0), grep (>= 2.8), openssh-client (>= 1:6.6p1), sed (>= 4.0)
Architecture: all
Maintainer: Guillermo Robles <guillerobles1995@gmail.com>
Description: Execute programs and commands over multiple hosts
 This package offers the command u, useful to manage a
 low and medium number of machines distributed over a network
